In [1]:
import ijson
import pandas as pd

In [ ]:
with open('data/swiggy.json', 'r') as f:
    # Use 'Bangalore.restaurants' if the JSON top-level keys are city names.
    restaurants_iterator = ijson.kvitems(f, 'Bangalore')
    bangalore_data = list(restaurants_iterator)

In [7]:
# Initialize an empty list to hold restaurant data
restaurants_list = []

# Iterate over the data to extract restaurant details
for area, area_data in bangalore_data:
    for rest_id, rest_data in area_data['restaurants'].items():
        # Flatten the menu into a string representation
        menu_items = []
        for category, items in rest_data.get('menu', {}).items():
            for item_name, item_details in items.items():
                menu_items.append(f"{item_name} ({item_details['veg_or_non_veg']}): ₹{item_details['price']}")
        menu_str = "; ".join(menu_items)
        
        # Append the restaurant data to the list
        restaurants_list.append({
            'Area': area,
            'Restaurant ID': rest_id,
            'Name': rest_data.get('name', ''),
            'Rating': rest_data.get('rating', ''),
            'Rating Count': rest_data.get('rating_count', ''),
            'Cost for Two': rest_data.get('cost', ''),
            'Address': rest_data.get('address', ''),
            'Cuisine': rest_data.get('cuisine', ''),
            'License No': rest_data.get('lic_no', ''),
            'Menu': menu_str,
            'Link': rest_data.get('link', '')
        })

# Create a DataFrame
df = pd.DataFrame(restaurants_list)

# Display the DataFrame
print(df)

               Area Restaurant ID                             Name Rating  \
0      Yeshwanthpur        510172                   KNEAD-O-BREADS     --
1      Yeshwanthpur         48225                     Kanti Sweets    4.3
2      Yeshwanthpur        512476                    CAKE AND BAKE     --
3      Yeshwanthpur        352231                          M GRILL    4.0
4      Yeshwanthpur        524339                        Idly Guru     --
...             ...           ...                              ...    ...
16696          link        505819                  Hungama Biryani     --
16697          link        330564     Northwest Kebab & Curryhouse    3.7
16698          link        523252                       Burgers@24     --
16699          link        570480                  SHAWARMA INDIAH    5.0
16700          link        274781  Mealful Rolls - Meals in a Roll     --

          Rating Count Cost for Two  \
0      Too Few Ratings        ₹ 250
1         100+ ratings        ₹ 150
2      Too Few Ratings        ₹ 200
3          20+ ratings        ₹ 300
4      Too Few Ratings         ₹ 40
...                ...          ...
16696
16697
16698
16699
16700

                                                 Address           Cuisine  \
0      KNEAD-O-BREADS, 1042, triveni road, gokula 1st...  Fast Food,Snacks
1      Kanti Sweets, Kanti Sweets  # 82/8, HMT Main R...            Sweets
2      CAKE AND BAKE, NUMBER 59 8TH MAIN ROAD MUTHALA...  Snacks,Fast Food
3      M GRILL, No 2/1 Cross, MSR college Road, Mathi...     Grill,Tandoor
4      Idly Guru, Yeshwanthpur 1st stage, Yeshwanthpu...      South Indian
...                                                  ...               ...
16696
16697
16698
16699
16700

           License No                                               Menu  \
0      21222180000387  Kulcha (Pack of 4) (Veg): ₹45; Multigrain Brea...
1      11214331000823  Cocunut Holige (1 Pc) (Veg): ₹28.57; Kajjaya (...
2      21221178000964  Smilies - 6 Pcs (Veg): ₹100; Veg Nuggets -6 Pc...
3      21220180001166  Chicken Roll (Non-veg): ₹99; Paneer Roll (Veg)...
4      11222332000340  Thatte Idly [2 pieces] (Veg): ₹40; Parcel Box ...
...               ...                                                ...
16696
16697
16698
16699
16700

                                                    Link
0      https://www.swiggy.com/restaurants/knead-o-bre...
1      https://www.swiggy.com/restaurants/kanti-sweet...
2      https://www.swiggy.com/restaurants/cake-and-ba...
3      https://www.swiggy.com/restaurants/m-grill-ms-...
4      https://www.swiggy.com/restaurants/idly-guru-y...
...                                                  ...
16696               hungama-biryani-btm-bangalore-505819
16697  northwest-kebab-and-curryhouse-koramangala-ban...
16698                    burgers-24-btm-bangalore-523252
16699               shawarma-indiah-hsr-bangalore-570480
16700  mealful-rolls-meals-in-a-roll-koramangala-bang...

[16701 rows x 11 columns]

In [10]:
df.to_csv('data/swiggy_bangalore.csv', index=False)

In [3]:
df_indian_restaurants = pd.read_csv('data/indian_restaurants.csv')
df_bangalore_restaurants = df_indian_restaurants[df_indian_restaurants['City'] == 'Bangalore']
df_bangalore_restaurants.to_csv('data/indian_restaurants_bangalore.csv', index=False)